<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42084414849-djsppa4bg0quhhpanda7kpekn30h5qmh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42084414849-djsppa4bg0quhhpanda7kpekn30h5qmh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>42084414849-7i2s0eidp6drevg334ee8dsdphkjtmbn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBDGcapinAx5zblC8gX5VTcu-SLfY6dHH4</string>
	<key>GCM_SENDER_ID</key>
	<string>42084414849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.logic.randomWaifu</string>
	<key>PROJECT_ID</key>
	<string>random-waifu</string>
	<key>STORAGE_BUCKET</key>
	<string>random-waifu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42084414849:ios:09a781fcea5e0a216b2480</string>
	<key>DATABASE_URL</key>
	<string>https://random-waifu.firebaseio.com</string>
</dict>
</plist>